<article class="card">
    <a href="{{ path('app_musician_detail', {'id': musicien.id}) }}">
        {% if musicien.image %}
            <img src="uploads/{{ musicien.image }}">
        {% else %}
            <img src="{{ asset('uploads/user.webp') }}">
        {% endif %}
    </a>
    <h3>{{ musicien.fullName }}</h3>



    {% for instrument in musicien.instruments %}
        <a href="" class="badge badge-primary">
            <i class="{{ instrument.icon }}"></i>
            {{ instrument.name }}
        </a>
    {% endfor %}







</article>