<article class="card">
    <a href="{{ path('app_musician_detail', {'id': musicien.id}) }}">
    <img src="uploads/{{ musicien.image }}">
    {{ musicien.fullName }}
    </a>



    {% for instrument in musicien.instruments %}
        <a href="" class="badge badge-primary">
            <i class="{{ instrument.icon }}"></i>
            {{ instrument.name }}
        </a>
    {% endfor %}







</article>