{% extends 'base.html.twig' %}
{% block body %}


    <h1>Accueil</h1>

<section class="container">
    <h2>Next gigs</h2>
    <div class="grid">
    {% for gig in gigs %}
        <article class="card">



        <img src="{{  asset('uploads/' ~ gig.pub.image) }}" alt="image du concert">
                <h3>{{ gig.pub.name }}</h3>
            <time datetime="{{ gig.dateStart|date('Y-m-d h:i') }}"></time>
            {{ gig.dateStart|date('l JS \\o\\f F \\a\\t g:i a') }}
            <a href="{{ path('gig_detail', {'id': gig.id}) }}" class="btn btn-primary">Voir le détail</a>

        </article>

    {% endfor %}

    </div>

    <h2>Available musicians</h2>
    <div class="grid">



            {% for musicien in musiciens %}
                {% include 'musician/_card.html.twig' with {'musicien':musicien}only%}
            {% endfor %}





    </div>

</section>
{% endblock %}